.wrapper {
  height: 100%;
  background: #242e42;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .wrapper {
    height: 100vh;
  }
}

@media (max-width: 450px) {
  wrapper {
    max-width: 100%;
  }
}
