.devices-table {
  max-width: 100%;
  max-height: 100%;
  background-color: #2f3b52;
}

.devices-table th {
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  padding: 30px;
}

.devices-table th:first-child,
.devices-table tr td:first-child {
  padding-left: 15px;
  padding-right: 30px;
}

.devices-table td {
  font-size: 17px;
  color: #70889e;
  padding: 30px 30px;
}

td {
  border-bottom: 1px #20293c solid;
}

.devices-table svg {
  fill: #44556b;
}

.device-icon {
  width: 83px;
  height: 83px;
}
