.description-side {
  /*height: 100%;*/
  flex: 0 1 62%;
  background: url(../img/right_background.png) 0 0/100% 100% no-repeat;
  padding: 4% 0 4% 4%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  height: 36px;
  width: 160px;
  background: url(../img/Main_logo.png) 0 0/100% 100% no-repeat;
}

.text {
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
  color: #fff;
}

.video {
  display: flex;
  align-items: center;
}

.video__link {
  color: #1f8efa;
  font-size: 12px;
  text-decoration: none;
  margin-left: 1.5%;
}

.video__img {
  background: url(../img/Play_Button.png) 0 0/100% 100% no-repeat;
  width: 37px;
  height: 37px;
}

@media (max-width: 1200px) {
}

@media (max-width: 992px) {
}

@media (max-width: 767px) {
}

@media (max-width: 450px) {
  .description-side {
    flex: 0 1 40%;
  }

  .logo {
    height: 27px;
    width: 120px;
  }
  .text {
    font-size: 35px;
    line-height: 35px;
  }
}
